.home__lottie_1 {
  scale: 0.5;
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.home-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(164, 71, 210, 0.4);
}

.home-header {
  width: 100%;
  height: 98px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-logo {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-image {
  top: 0px;
  left: 0px;
  width: 662px;
  height: 784px;
  position: absolute;
  object-fit: cover;
}

.home-image01 {
  width: 100px;
  object-fit: cover;
}

.home-image02 {
  width: 100px;
  object-fit: cover;
}

.home-image03 {
  width: 100px;
  object-fit: cover;
}

.home-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.home-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-menu1 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}

.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}

.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}

.home-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-image04 {
  width: 100px;
  object-fit: cover;
}

.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-icon03 {
  width: 24px;
  height: 24px;
}

.home-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text:hover {
  color: var(--dl-color-turquoise-default);
}

.home-text001 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text001:hover {
  color: var(--dl-color-turquoise-default);
}

.home-text002 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text002:hover {
  color: var(--dl-color-turquoise-default);
}

.home-text003 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text003:hover {
  color: var(--dl-color-turquoise-default);
}

.home-text004 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}

.home-text004:hover {
  color: var(--dl-color-turquoise-default);
}

.home-text005 {
  transition: 0.3s;
}

.home-text005:hover {
  color: var(--dl-color-turquoise-default);
}

.home-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}

.home-container02 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.home-link {
  display: contents;
}

.home-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.home-icon05 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}

.home-icon05:hover {
  fill: var(--dl-color-purple-default);
}

.home-link1 {
  display: contents;
}

.home-container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.home-icon07 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}

.home-icon07:hover {
  fill: var(--dl-color-pink-default);
}

.home-link2 {
  display: contents;
}

.home-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.home-icon09 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}

.home-icon09:hover {
  fill: var(--dl-color-turquoise-default);
}

.home-link3 {
  display: contents;
}

.home-container06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}

.home-icon11 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}

.home-icon11:hover {
  fill: var(--dl-color-orange-default);
}

.home-init {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-container07 {
  display: flex;
  margin-right: 48px;
  padding-right: 48px;
  flex-direction: column;
  min-width: 600px;
}

.home-text006 {
  color: var(--dl-color-purple-default);
  font-size: 3rem;
  max-width: 450px;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
}

.home-text011 {
  color: #82b5c9;
  display: flex;
  font-size: 1.4rem;
  font-style: normal;
  margin-top: 32px;
  font-weight: 700;
  line-height: 1.75;
  margin-left: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  margin-bottom: 32px;
  flex-flow: column;
  justify-content: flex-start;
}

.home-text011>p {
  margin-bottom: var(--dl-space-space-doubleunit);
}

.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home-button {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-purple-default);
}

.home-button:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}

.home-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}

.home-button1:hover {
  border-color: var(--dl-color-gray-black);
}

.home-container08 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-image05 {
  top: -82px;
  left: -107px;
  width: 333px;
  height: 260px;
  position: absolute;
  align-self: stretch;
  object-fit: cover;
  border-color: #253252;
  border-width: var(--dl-size-size-halfunit);
}

.mt-1 {
  margin: 40px;
}

.home-image06 {
  right: -49px;
  width: 262px;
  bottom: -47px;
  height: 219px;
  position: absolute;
  align-self: stretch;
  object-fit: cover;
  border-color: var(--dl-color-pink-default);
  border-width: var(--dl-size-size-halfunit);
}

.home-image07 {
  width: 395px;
  height: 563px;
  object-fit: cover;
  border-color: #f76372;
  border-width: var(--dl-size-size-halfunit);
}

.home-container09 {
  top: -100px;
  left: 0px;
  width: 100%;
  height: 954px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}

.home-blur-background {
  top: 100px;
  left: 0px;
  width: 100%;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

.home-turquoise-cirble {
  left: 600px;
  width: 170px;
  bottom: 245px;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}

.home-purple-circle {
  top: 0px;
  right: 0px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}

.home-left {
  left: 0px;
  width: 420px;
  bottom: 0px;
  position: absolute;
  object-fit: cover;
}

.home-right {
  left: -6px;
  width: 612px;
  bottom: -7px;
  position: absolute;
  object-fit: cover;
  opacity: 0.9;
  filter: hue-rotate(20deg);
  z-index: -1;
}

.home-api {
  width: 100%;
  height: 883px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  color: var(--dl-color-gray-white);
}

.home-text018 {
  height: 85px;
  align-self: flex-start;
  text-align: center;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}

.home-text025 {
  height: 164px;
  text-align: center;
}

.home-text033 {
  max-width: 500px;
  text-align: center;
}

.home-button2 {
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}

.home-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}

.home-features {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-black {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.home-container10 {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}

.home-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  justify-content: flex-start;
}

.home-text036 {
  color: var(--dl-color-pink-default);
  width: 336px;
  text-align: center;
}

.home-text037 {
  text-align: center;
}

.home-text039 {
  text-align: center;
}

.home-container12 {
  width: 620px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}

.home-gallery {
  color: #b9e8e8 !important;
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: 1400px;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b""a b b""a c d""a c d""e e d""e e f""e e f";
  grid-template-columns: 1fr 1fr 1fr;
}

.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  grid-area: a;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/7191894/pexels-photo-7191894.jpeg?cs=srgb&dl=pexels-nothing-ahead-7191894.jpg&fm=jpg&w=640&h=960");
  background-position: center;
}

.home-container13:hover {
  transform: scale(0.93);
}

.home-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.home-text040 {
  width: 323px;
  height: 176px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 900;
}

.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: b;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4171931/pexels-photo-4171931.jpeg?cs=srgb&dl=pexels-kelly-l-4171931.jpg&fm=jpg&w=640&h=427");
  background-position: center;
}

.home-container15:hover {
  transform: scale(0.93);
}

.home-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text050 {
  font-style: normal;
  font-weight: 900;
}

.home-text052 {
  font-style: normal;
  font-weight: 900;
}

.home-text054 {
  font-style: normal;
  font-weight: 900;
}

.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: c;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/1343337/pexels-photo-1343337.jpeg?cs=srgb&dl=pexels-gagan-cambow-1343337.jpg&fm=jpg&w=640&h=853");
  background-position: center;
}

.home-container17:hover {
  transform: scale(0.93);
}

.home-container18 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
}

.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: d;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4139501/pexels-photo-4139501.png?cs=srgb&dl=pexels-tarcila-mesquita-4139501.jpg&fm=jpg&w=640&h=960");
  background-position: center;
}

.home-container19:hover {
  transform: scale(0.93);
}

.home-container20 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text061 {
  font-size: 1.6rem;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 800;
}

.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: e;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/6924276/pexels-photo-6924276.jpeg?cs=srgb&dl=pexels-nothing-ahead-6924276.jpg&fm=jpg&w=640&h=427");
  background-position: center;
}

.home-container21:hover {
  transform: scale(0.93);
}

.home-container22 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text065 {
  width: 539px;
  height: 304px;
  font-size: 2.4rem;
  font-weight: 600;
}

.home-text066 {
  font-weight: 600;
}

.home-text068 {
  font-weight: 600;
}

.home-text069 {
  margin-top: var(--dl-space-space-halfunit);
}

.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  grid-area: f;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/4946809/pexels-photo-4946809.jpeg?cs=srgb&dl=pexels-maria-orlova-4946809.jpg&fm=jpg&w=640&h=960");
  background-position: center;
}

.home-container23:hover {
  transform: scale(0.93);
}

.home-container24 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}

.home-text078 {
  width: 315px;
  font-size: 30px;
  font-style: normal;
  font-family: Inter;
  font-weight: 800;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}

.home-steps {
  margin-top: 236px;
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  color: var(--dl-color-gray-white);
}

.home-container25 {
  display: flex;
  z-index: 100;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.home-container26 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}

.home-turquoise-cirble1 {
  top: 958px;
  left: 595px;
  width: 170px;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}

.home-purple-circle1 {
  top: 923px;
  left: 628px;
  width: 400px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}

.home-purple-circle2 {
  left: 83px;
  width: 400px;
  bottom: -95px;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}

.home-left1 {
  bottom: -97px;
  left: -3px;
  width: 420px;
  position: absolute;
  object-fit: cover;
}

.home-right1 {
  top: -160px;
  right: -9px;
  width: 612px;
  z-index: 10;
  position: absolute;
  object-fit: cover;
  filter: brightness(0.7);
}

.home-experiencia-de-usuario {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
  background-color: var(--dl-color-turquoise-100);
}

.home-container27 {
  height: 1839px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 1100px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-image08 {
  bottom: -108px;
  left: -352px;
  width: 1087px;
  height: 585px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}

.home-container28 {
  top: 886px;
  flex: 0 0 auto;
  right: -85px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}

.home-container29 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: -87px;
  position: relative;
}

.home-image09 {
  top: -22px;
  left: -65px;
  right: auto;
  width: 100px;
  bottom: auto;
  z-index: 10;
  position: absolute;
  object-fit: cover;
  filter: hue-rotate(101deg);
}

.home-text084 {
  color: #f872d2;
  z-index: 100;
  max-width: 500px;
}

.home-container30 {
  flex: 0 0 auto;
  width: 350px;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-image10 {
  top: 76px;
  left: -199px;
  width: 884px;
  height: 695px;
  position: absolute;
  object-fit: cover;
}

/* media queries for the home-image10 */
/* @media (max-width: 767px) */
@media (max-width: 767px) {
  .home-image10 {
    top: 150px;
    left: -55px;
    width: 784px;
    position: absolute;

    object-fit: contain;
  }

  .home-image08 {
    bottom: -235px;
    left: -70px;
    width: 520px;
    margin: auto;
    position: absolute;
    object-fit: contain;
  }
}

.home-container31 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
}

.home-container32 {
  width: 350px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home-container33 {
  width: 300px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}

.home-testimonio {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}

.home-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.home-text087 {
  text-align: center;
}

.home-text090 {
  max-width: 620px;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: justify;
  margin-bottom: var(--dl-space-space-doubleunit);
}

.home-container35 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.home-text100 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-space-space-unit);
}

.home-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}

.home-container36 {
  width: 100%;
  display: flex;
  padding: 62px;
  position: relative;
  max-width: 1400px;
  align-items: flex-start;
  justify-content: center;
}

.home-pricing {
  background-color: #5a4c62;
}

.home-image11 {
  top: 176px;
  left: 45px;
  width: 299px;
  height: 263px;
  position: absolute;
  object-fit: cover;
}

.home-container37 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin-right: 32px;
  flex-direction: column;
}

.home-text101 {
  color: var(--dl-color-pink-800);
}

.home-container38 {
  flex: 2;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.home-container39 {
  flex: 1;
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #79257091;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  margin-right: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  background-color: #c15353;
  color: #f4d9d9;
}

.home-container39:hover {
  transform: scale(1.02);
}

.home-text102 {
  font-size: 1.5rem;
  font-weight: 600;
}

.home-text103 {
  margin: var(--dl-space-space-halfunit);
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
}

.home-text104 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 200;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}

.home-text105 {
  font-style: normal;
  font-family: Inter;
  font-weight: 100;
  text-transform: none;
  text-decoration: none;
}

.home-text106 {
  font-style: normal;
  font-weight: 900;
}

.home-text108 {
  font-style: normal;
  text-align: center;
  font-weight: 900;
}

.home-text110 {
  font-style: normal;
  text-align: center;
  font-weight: 900;
}

.home-button3 {
  color: #9fdeda;
  font-style: normal;
  margin-top: auto;
  font-weight: 900;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #b13636;
}

.home-container40 {
  flex: 1;
  color: var(--dl-color-gray-white);
  height: 450px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #3d3d3d;
  transition: 0.3s;
  align-items: center;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 900;

  background-color: #232430;
}

.home-container40:hover {
  transform: scale(1.02);
}

.home-text111 {
  font-size: 1.5rem;
  font-weight: 600;
}

.home-text112 {
  margin: 32px;
  font-size: 4rem;
  font-weight: 200;
}

.home-text113 {
  margin-bottom: var(--dl-space-space-unit);
}

.home-text114 {
  font-style: normal;
  font-weight: 500;
}

.home-button4 {
  color: #9fdeda;
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #b13636;
}

.home-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-container41 {
  flex: 0 0 auto;
  width: 522px;
  height: 512px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f872d2;
}

.home-image12 {
  width: 494px;
  height: 435px;
  align-self: center;
  object-fit: cover;
}

.home-container42 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--dl-color-gray-white);
}

.home-text116 {
  color: var(--dl-color-pink-800);
}

.home-text117 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}

.home-button5 {
  color: #ffffff;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-purple-default);
}

.home-button5:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}

.home-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.home-container43 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

@media(max-width: 991px) {
  .home-container01 {
    display: none;
  }

  .home-hero {
    height: auto;
    flex-direction: column;
  }

  .home-container07 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
    padding: 8px;
  }

  .home-text006 {
    text-align: center;
  }

  .home-text011 {
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }

  .home-black {
    flex-direction: column;
  }

  .home-container12 {
    margin-top: var(--dl-space-space-doubleunit);
  }

  .home-gallery {
    grid-gap: var(--dl-space-space-unit);
  }

  .home-text040 {
    text-align: center;
  }

  .home-text049 {
    text-align: center;
  }

  .home-text055 {
    text-align: center;
  }

  .home-text061 {
    text-align: center;
  }

  .home-text065 {
    text-align: center;
  }

  .home-text069 {
    text-align: center;
  }

  .home-container27 {
    flex-direction: column;
  }

  .home-container30 {
    align-self: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }

  .home-container31 {
    align-items: center;
    margin-left: 0px;
  }

  .home-container33 {
    width: 350px;
  }

  .home-container36 {
    align-items: center;
    flex-direction: column;
  }

  .home-container37 {
    align-items: center;
  }

  .home-container38 {
    width: 100%;
  }

  .home-feature1 {
    flex-direction: column;
  }

  .home-container42 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .home-container43 {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media(max-width: 767px) {
  .home-menu {
    display: none;
  }

  .home-burger-menu {
    display: block;
  }

  /* .home-text011 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  } */

  .home-text025 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .home-text036 {
    font-size: 40px;
  }

  .home-gallery {
    height: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
  }

  .home-steps {
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 531px;
  }

  .home-container28 {
    align-items: center;
  }

  .home-image09 {
    top: -2px;
    left: 21px;
    right: auto;
    width: 50px;
    bottom: auto;
  }

  .home-text084 {
    font-size: 40px;
    text-align: center;
  }

  .home-container35 {
    flex-direction: column;
  }

  .home-text100 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }

  .home-container36 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .home-container38 {
    flex-direction: column;
  }

  .home-container39 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .home-container40 {
    width: 100%;
  }
}

@media(max-width: 479px) {
  .home-container01 {
    display: none;
  }

  .home-bot {
    width: 100%;
  }

  .home-container07 {
    margin-bottom: var(--dl-space-space-unit);
    padding: 0 40px;
  }

  .home-btn-group {
    flex-direction: column;
  }

  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }

  .home-text025 {
    text-align: center;
    margin-bottom: 98px;
    margin-top: 8px;
  }

  .home-text033 {
    text-align: center;
  }

  .home-container11 {
    align-items: center;
  }

  .home-text036 {
    text-align: center;
  }

  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }

  .home-steps {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }

  .home-container36 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}