.stats-card-container {
  margin: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.stats-card-image {
  width: 32px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.stats-card-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stats-card-text {
  color: var(--dl-color-pink-default);
}
.stats-card-text1 {
  color: var(--dl-color-gray-white);
  width: 400px;
  align-self: flex-start;
  text-align: justify;
}
.stats-card-root-class-name {
  align-self: flex-start;
}
.stats-card-root-class-name1 {
  align-self: flex-start;
}
