.br_a {
    border-radius: 16px;
  }
  
  .u-grey-15,.u-body.u-grey-15,.u-container-style.u-grey-15:before,.u-container-layout.u-grey-15:before {
    background: rgb(128 93 208 / 34%);
    color: white;
  }
  
  .jello-vertical {
    animation: text_01 2s ease 2s infinite normal forwards;
  }
  
  @keyframes text_01 {
    0% {
      transform: translate(0);
    }
  
    20% {
      transform: translate(4px, -4px);
    }
  
    40% {
      transform: translate(4px, 4px);
    }
  
    60% {
      transform: translate(-4px, 4px);
    }
  
    100% {
      transform: translate(0);
    }
  }
  
  .pulsate-bck {
    -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
    animation: pulsate-bck 1.5s ease-in-out infinite both;
  }
  
  @keyframes pulsate-bck {
    0%, 100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }
  
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    /* display:none; */
    position: fixed;
    /* width: 100%;
      height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #18191f;
    overflow: hidden;
  }
  
  .background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .background span:nth-child(0) {
    color: #f5a9aa;
    top: 31%;
    left: 42%;
    animation-duration: 22s;
    animation-delay: -48s;
    transform-origin: -19vw -19vh;
    box-shadow: 2vmin 0 0.2977353403487226vmin currentColor;
  }
  
  .background span:nth-child(1) {
    color: #ca67ca;
    top: 49%;
    left: 99%;
    animation-duration: 46s;
    animation-delay: -32s;
    transform-origin: 18vw 21vh;
    box-shadow: -2vmin 0 1.019502873437041vmin currentColor;
  }
  
  .background span:nth-child(2) {
    color: #ca67ca;
    top: 18%;
    left: 18%;
    animation-duration: 52s;
    animation-delay: -32s;
    transform-origin: 18vw 16vh;
    box-shadow: 2vmin 0 1.0590177602886246vmin currentColor;
  }
  
  .background span:nth-child(3) {
    color: #ca67ca;
    top: 81%;
    left: 37%;
    animation-duration: 21s;
    animation-delay: -32s;
    transform-origin: -14vw 11vh;
    box-shadow: 2vmin 0 1.1667657398213276vmin currentColor;
  }
  
  .background span:nth-child(4) {
    color: #a368e7;
    top: 27%;
    left: 42%;
    animation-duration: 12s;
    animation-delay: -46s;
    transform-origin: 10vw -4vh;
    box-shadow: 2vmin 0 1.1232215202713907vmin currentColor;
  }
  
  .background span:nth-child(5) {
    color: #ca67ca;
    top: 25%;
    left: 76%;
    animation-duration: 10s;
    animation-delay: -25s;
    transform-origin: 11vw -5vh;
    box-shadow: -2vmin 0 0.8792605938438338vmin currentColor;
  }
  
  .background span:nth-child(6) {
    color: #a368e7;
    top: 17%;
    left: 38%;
    animation-duration: 18s;
    animation-delay: -50s;
    transform-origin: 10vw 15vh;
    box-shadow: 2vmin 0 0.6610499668851333vmin currentColor;
  }
  
  .background span:nth-child(7) {
    color: #f5a9aa;
    top: 25%;
    left: 32%;
    animation-duration: 43s;
    animation-delay: -18s;
    transform-origin: -7vw -14vh;
    box-shadow: -2vmin 0 0.9966364883055403vmin currentColor;
  }
  
  .background span:nth-child(8) {
    color: #a368e7;
    top: 61%;
    left: 59%;
    animation-duration: 52s;
    animation-delay: -35s;
    transform-origin: -18vw 22vh;
    box-shadow: -2vmin 0 1.0544503933454081vmin currentColor;
  }
  
  .background span:nth-child(9) {
    color: #a368e7;
    top: 30%;
    left: 84%;
    animation-duration: 20s;
    animation-delay: -14s;
    transform-origin: -10vw 21vh;
    box-shadow: 2vmin 0 0.3557580391591011vmin currentColor;
  }
  
  .background span:nth-child(10) {
    color: #f5a9aa;
    top: 92%;
    left: 97%;
    animation-duration: 26s;
    animation-delay: -40s;
    transform-origin: -18vw 20vh;
    box-shadow: 2vmin 0 0.6251419324347918vmin currentColor;
  }
  
  .background span:nth-child(11) {
    color: #ca67ca;
    top: 30%;
    left: 25%;
    animation-duration: 17s;
    animation-delay: -15s;
    transform-origin: -1vw -16vh;
    box-shadow: 2vmin 0 1.0731034918915499vmin currentColor;
  }
  
  .background span:nth-child(12) {
    color: #a368e7;
    top: 59%;
    left: 21%;
    animation-duration: 43s;
    animation-delay: -8s;
    transform-origin: -19vw 23vh;
    box-shadow: -2vmin 0 0.6094416021745719vmin currentColor;
  }
  
  .background span:nth-child(13) {
    color: #a368e7;
    top: 24%;
    left: 4%;
    animation-duration: 41s;
    animation-delay: -11s;
    transform-origin: 4vw 22vh;
    box-shadow: -2vmin 0 0.8627562383725984vmin currentColor;
  }
  
  .background span:nth-child(14) {
    color: #f5a9aa;
    top: 32%;
    left: 57%;
    animation-duration: 10s;
    animation-delay: -1s;
    transform-origin: 18vw 17vh;
    box-shadow: 2vmin 0 1.0635351968353182vmin currentColor;
  }
  
  .background span:nth-child(15) {
    color: #ca67ca;
    top: 49%;
    left: 59%;
    animation-duration: 45s;
    animation-delay: -4s;
    transform-origin: 15vw -22vh;
    box-shadow: -2vmin 0 0.9873841380390349vmin currentColor;
  }
  
  .background span:nth-child(16) {
    color: #a368e7;
    top: 51%;
    left: 45%;
    animation-duration: 50s;
    animation-delay: -27s;
    transform-origin: -16vw 13vh;
    box-shadow: 2vmin 0 0.6689195037119682vmin currentColor;
  }
  
  .background span:nth-child(17) {
    color: #f5a9aa;
    top: 41%;
    left: 93%;
    animation-duration: 7s;
    animation-delay: -26s;
    transform-origin: -14vw 20vh;
    box-shadow: 2vmin 0 0.2799781356742099vmin currentColor;
  }
  
  .background span:nth-child(18) {
    color: #a368e7;
    top: 39%;
    left: 43%;
    animation-duration: 12s;
    animation-delay: -27s;
    transform-origin: 1vw 15vh;
    box-shadow: 2vmin 0 1.2056266961888091vmin currentColor;
  }
  
  .background span:nth-child(19) {
    color: #ca67ca;
    top: 78%;
    left: 28%;
    animation-duration: 31s;
    animation-delay: -7s;
    transform-origin: 19vw -22vh;
    box-shadow: 2vmin 0 1.106642846120213vmin currentColor;
  }
  
  .background span:nth-child(20) {
    color: #ca67ca;
    top: 79%;
    left: 50%;
    animation-duration: 33s;
    animation-delay: -19s;
    transform-origin: -22vw 2vh;
    box-shadow: -2vmin 0 0.8570311144773632vmin currentColor;
  }
  
  .background span:nth-child(21) {
    color: #ca67ca;
    top: 32%;
    left: 53%;
    animation-duration: 46s;
    animation-delay: -18s;
    transform-origin: 9vw -6vh;
    box-shadow: -2vmin 0 1.0738097611179391vmin currentColor;
  }
  
  .background span:nth-child(22) {
    color: #ca67ca;
    top: 30%;
    left: 25%;
    animation-duration: 41s;
    animation-delay: -14s;
    transform-origin: -1vw 7vh;
    box-shadow: 2vmin 0 0.6262589143073543vmin currentColor;
  }
  
  .background span:nth-child(23) {
    color: #a368e7;
    top: 23%;
    left: 13%;
    animation-duration: 17s;
    animation-delay: -13s;
    transform-origin: -23vw 14vh;
    box-shadow: 2vmin 0 0.8062978153538338vmin currentColor;
  }
  
  .background span:nth-child(24) {
    color: #a368e7;
    top: 56%;
    left: 7%;
    animation-duration: 10s;
    animation-delay: -13s;
    transform-origin: -13vw 18vh;
    box-shadow: -2vmin 0 0.7817781465927174vmin currentColor;
  }
  
  .background span:nth-child(25) {
    color: #f5a9aa;
    top: 98%;
    left: 99%;
    animation-duration: 36s;
    animation-delay: -12s;
    transform-origin: 22vw 24vh;
    box-shadow: 2vmin 0 0.7770873988508358vmin currentColor;
  }
  
  .background span:nth-child(26) {
    color: #a368e7;
    top: 55%;
    left: 17%;
    animation-duration: 21s;
    animation-delay: -40s;
    transform-origin: 7vw 2vh;
    box-shadow: -2vmin 0 0.8491700364931043vmin currentColor;
  }
  
  .background span:nth-child(27) {
    color: #a368e7;
    top: 58%;
    left: 52%;
    animation-duration: 21s;
    animation-delay: -15s;
    transform-origin: -21vw 0vh;
    box-shadow: -2vmin 0 0.5498219877559221vmin currentColor;
  }
  
  .background span:nth-child(28) {
    color: #f5a9aa;
    top: 52%;
    left: 60%;
    animation-duration: 20s;
    animation-delay: -49s;
    transform-origin: -17vw 14vh;
    box-shadow: -2vmin 0 0.5629065916398031vmin currentColor;
  }
  
  .background span:nth-child(29) {
    color: #ca67ca;
    top: 98%;
    left: 10%;
    animation-duration: 36s;
    animation-delay: -15s;
    transform-origin: 2vw 2vh;
    box-shadow: 2vmin 0 0.2952846318177995vmin currentColor;
  }
  
  .background span:nth-child(30) {
    color: #f5a9aa;
    top: 61%;
    left: 22%;
    animation-duration: 22s;
    animation-delay: -7s;
    transform-origin: 4vw -5vh;
    box-shadow: 2vmin 0 0.8630790022769257vmin currentColor;
  }
  
  .background span:nth-child(31) {
    color: #f5a9aa;
    top: 10%;
    left: 43%;
    animation-duration: 29s;
    animation-delay: -13s;
    transform-origin: -12vw 20vh;
    box-shadow: 2vmin 0 1.1462116567864784vmin currentColor;
  }
  
  .background span:nth-child(32) {
    color: #a368e7;
    top: 64%;
    left: 17%;
    animation-duration: 42s;
    animation-delay: -15s;
    transform-origin: -5vw -2vh;
    box-shadow: -2vmin 0 0.6591307486589633vmin currentColor;
  }
  
  .background span:nth-child(33) {
    color: #a368e7;
    top: 60%;
    left: 49%;
    animation-duration: 55s;
    animation-delay: -20s;
    transform-origin: 6vw 10vh;
    box-shadow: -2vmin 0 0.35213849193193125vmin currentColor;
  }
  
  .background span:nth-child(34) {
    color: #a368e7;
    top: 82%;
    left: 88%;
    animation-duration: 51s;
    animation-delay: -5s;
    transform-origin: 13vw 6vh;
    box-shadow: -2vmin 0 1.225374180505376vmin currentColor;
  }
  
  .background span:nth-child(35) {
    color: #ca67ca;
    top: 4%;
    left: 92%;
    animation-duration: 12s;
    animation-delay: -26s;
    transform-origin: 23vw 21vh;
    box-shadow: -2vmin 0 0.7209839128957227vmin currentColor;
  }
  
  .background span:nth-child(36) {
    color: #a368e7;
    top: 100%;
    left: 48%;
    animation-duration: 11s;
    animation-delay: -39s;
    transform-origin: 22vw 13vh;
    box-shadow: -2vmin 0 1.0999299237712152vmin currentColor;
  }
  
  .background span:nth-child(37) {
    color: #a368e7;
    top: 7%;
    left: 88%;
    animation-duration: 40s;
    animation-delay: -31s;
    transform-origin: 7vw 4vh;
    box-shadow: 2vmin 0 1.0898071501676712vmin currentColor;
  }
  
  .background span:nth-child(38) {
    color: #ca67ca;
    top: 29%;
    left: 65%;
    animation-duration: 18s;
    animation-delay: -34s;
    transform-origin: 22vw 7vh;
    box-shadow: 2vmin 0 0.8511112739281399vmin currentColor;
  }
  
  .background span:nth-child(39) {
    color: #ca67ca;
    top: 44%;
    left: 82%;
    animation-duration: 44s;
    animation-delay: -5s;
    transform-origin: -10vw -10vh;
    box-shadow: -2vmin 0 1.044868206501226vmin currentColor;
  }
  
  .background span:nth-child(40) {
    color: #ca67ca;
    top: 89%;
    left: 38%;
    animation-duration: 23s;
    animation-delay: -47s;
    transform-origin: 0vw -17vh;
    box-shadow: 2vmin 0 0.7951963074726338vmin currentColor;
  }
  
  .background span:nth-child(41) {
    color: #ca67ca;
    top: 12%;
    left: 37%;
    animation-duration: 26s;
    animation-delay: -21s;
    transform-origin: -10vw -17vh;
    box-shadow: -2vmin 0 0.378214037528088vmin currentColor;
  }
  
  .background span:nth-child(42) {
    color: #ca67ca;
    top: 58%;
    left: 66%;
    animation-duration: 42s;
    animation-delay: -17s;
    transform-origin: 16vw 25vh;
    box-shadow: 2vmin 0 0.5606898521384609vmin currentColor;
  }
  
  .background span:nth-child(43) {
    color: #f5a9aa;
    top: 5%;
    left: 4%;
    animation-duration: 41s;
    animation-delay: -24s;
    transform-origin: -20vw -13vh;
    box-shadow: 2vmin 0 0.5618668055738749vmin currentColor;
  }
  
  .background span:nth-child(44) {
    color: #ca67ca;
    top: 90%;
    left: 52%;
    animation-duration: 17s;
    animation-delay: -40s;
    transform-origin: -12vw -8vh;
    box-shadow: 2vmin 0 0.3439183758682425vmin currentColor;
  }
  
  .background span:nth-child(45) {
    color: #f5a9aa;
    top: 21%;
    left: 77%;
    animation-duration: 13s;
    animation-delay: -48s;
    transform-origin: 24vw 11vh;
    box-shadow: 2vmin 0 1.1383560479472883vmin currentColor;
  }
  
  .background span:nth-child(46) {
    color: #ca67ca;
    top: 81%;
    left: 18%;
    animation-duration: 54s;
    animation-delay: -47s;
    transform-origin: -20vw 7vh;
    box-shadow: -2vmin 0 1.085104270734393vmin currentColor;
  }
  
  .background span:nth-child(47) {
    color: #ca67ca;
    top: 31%;
    left: 88%;
    animation-duration: 45s;
    animation-delay: -8s;
    transform-origin: 14vw -17vh;
    box-shadow: 2vmin 0 0.6828202650836577vmin currentColor;
  }
  
  .background span:nth-child(48) {
    color: #f5a9aa;
    top: 81%;
    left: 33%;
    animation-duration: 18s;
    animation-delay: -27s;
    transform-origin: 1vw -5vh;
    box-shadow: -2vmin 0 0.4186340323581359vmin currentColor;
  }
  
  .background span:nth-child(49) {
    color: #a368e7;
    top: 17%;
    left: 76%;
    animation-duration: 35s;
    animation-delay: -17s;
    transform-origin: 7vw -4vh;
    box-shadow: 2vmin 0 0.8396835845139907vmin currentColor;
  }